.login-container {
    -fx-background-color: #EEEEEE;
}

/* Logo container styles */
.login-logo-container {
    -fx-background-color: #132A13;
    -fx-alignment: center;
}

.login-logo-container Text {
    -fx-font-size: 2em;
    -fx-fill: #FFFFFF;
}

.login-logo-container FontAwesomeIconView {
    -fx-fill: #ECF39E;
}

/* Account selector choice box styles */
.account-selector {
    -fx-background-color: #ECF39E;
}

.account-selector .label {
    -fx-text-fill: #132A13;
    -fx-font-size: 1.1em;
}

.account-selector .arrow {
    -fx-background-color: #132A13;
}

#choice-box-popup-menu {
    -fx-background-color: #ECF39E;
}

/* Login form styles */
#choice-prompt-text {
    -fx-font-weight: 400;
}

.login-form-container {
    -fx-spacing: 15;
    -fx-alignment: top_left;
}

.login-form-container .label {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.input-field {
    -fx-background-color: #FFFFFF;
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;
}

.login-form-container .button {
    -fx-background-color: #132A13;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 350;
    -fx-pref-height: 30;
    -fx-font-size: 1.2em;
}

.login-form-container .button:hover {
    -fx-cursor: hand;
}

.error-lbl {
    -fx-text-fill: #FF0000;
}